In [46]:
import pandas as pd

In [47]:
last_season = pd.read_csv('2022-23.csv')
season_prior = pd.read_csv('2021-22.csv')
two_years_ago = pd.read_csv('2020-21.csv')

In [48]:
last_three = pd.concat([last_season, season_prior, two_years_ago], axis=0)

In [49]:
last_three

,Unnamed: 0,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,penaltyMinutes,faceOffWins,...,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage,shutout,shortHandedSavePercentage,fantasyPoints,shots_against,goals_against
0,ID8478508-07-10-2022,1023,0,0,0,2,0,0,0,0,...,0,NaN,NaN,NaN,NaN,0,NaN,0.2,NaN,NaN
1,ID8476881-07-10-2022,1261,0,1,2,1,0,0,0,13,...,0,NaN,NaN,NaN,NaN,0,NaN,2.3,NaN,NaN
2,ID8478067-07-10-2022,558,0,0,2,2,0,0,0,0,...,0,NaN,NaN,NaN,NaN,0,NaN,0.9,NaN,NaN
3,ID8479316-07-10-2022,1283,1,0,1,3,0,0,2,0,...,0,NaN,NaN,NaN,NaN,0,NaN,2.4,NaN,NaN
4,ID8476442-07-10-2022,634,0,0,0,0,0,0,2,0,...,0,NaN,NaN,NaN,NaN,0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33073,ID8474574-19-05-2021,1398,1,0,1,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,0,NaN,1.6,NaN,NaN
33074,ID8477963-19-05-2021,417,0,0,0,2,0,0,0,0,...,0,NaN,NaN,NaN,NaN,0,NaN,0.2,NaN,NaN
33075,ID8480800-19-05-2021,1373,0,0,0,1,0,0,0,0,...,0,NaN,NaN,NaN,NaN,0,NaN,0.6,NaN,NaN
33076,ID8474612-19-05-2021,1084,0,0,1,1,0,0,0,0,...,0,NaN,NaN,NaN,NaN,0,NaN,0.7,NaN,NaN
33077,ID8474651-19-05-2021,3555,0,0,28,0,0,0,0,0,...,2,L,78.571429,100.0,76.0,0,100.0,-7.6,28.0,6.0

In [45]:
# testnp = (last_three['blocked'][0] * .5) + ((last_three['hits'][0] + last_three['shots'][0]) * .1)
# testnp

0    0.2
0    0.8
0    0.6
dtype: float64

In [41]:
# for index, row in last_three.iterrows():
#     np = (row['blocked'] * .5) + ((row['hits'] + row['shots']) * .1)
#     last_three.at[index, 'noPoints'] = np

In [42]:
last_three['noPoints']

0        0.6
1        0.3
2        1.7
3        0.4
4        0.4
        ...
33073    0.6
33074    0.2
33075    0.6
33076    0.7
33077    2.8
Name: noPoints, Length: 133097, dtype: float64

In [50]:
last_three = last_three.loc[last_three['position'] != "G"]

In [44]:
# test = last_three.loc[last_three['name'] == 'Jacob Trouba']
# testseason = test.loc[(test['date'] >= '2021-10-01') & (test['date'] <= '2022-08-01')]
# print(testseason['noPoints'].sum())
# print(testseason['fantasyPoints'].sum())

89.4
182.6

In [51]:
players_list = last_three['name'].unique()

In [52]:
players_list

array(['Yakov Trenin', 'Tomas Hertl', 'Oskar Lindblom', ...,
       'Cameron Hughes', 'Lean Bergmann', 'Drake Rymsha'], dtype=object)

In [162]:
noPoints_df = pd.DataFrame(columns=['Name', 'Position', '2021GP', '2021FP', '2021NP', '2021TOI', '2122GP', '2122FP', '2122NP', '2122TOI', '2223GP', '2223FP', '2223NP', '2223TOI'])

for player in players_list:
    current = last_three.loc[last_three['name'] == player]
    position = current['position'].iloc[0]
    s2021 = current.loc[(current['date'] >= '2021-01-01') & (current['date'] <= '2021-08-01')]
    s2122 = current.loc[(current['date'] >= '2021-10-01') & (current['date'] <= '2022-08-01')]
    s2223 = current.loc[(current['date'] >= '2022-10-01') & (current['date'] <= '2023-08-01')]

    gp2021 = len(s2021)
    gp2122 = len(s2122)
    gp2223 = len(s2223)
    
    fp2021 = s2021['fantasyPoints'].sum()
    fp2122 = s2122['fantasyPoints'].sum()
    fp2223 = s2223['fantasyPoints'].sum()
    
    bs2021 = s2021['blocked'].sum()
    bs2122 = s2122['blocked'].sum()
    bs2223 = s2223['blocked'].sum()
    
    h2021 = s2021['hits'].sum()
    h2122 = s2122['hits'].sum()
    h2223 = s2223['hits'].sum()
    
    sg2021 = s2021['shots'].sum()
    sg2122 = s2122['shots'].sum()
    sg2223 = s2223['shots'].sum()
    
    np2021 = (bs2021*.5) + ((h2021 + sg2021)*.1)
    np2122 = (bs2122*.5) + ((h2122 + sg2122)*.1)
    np2223 = (bs2223*.5) + ((h2223 + sg2223)*.1)
    
    toi2021 = s2021['timeOnIce'].sum()
    toi2122 = s2122['timeOnIce'].sum()
    toi2223 = s2223['timeOnIce'].sum()
    
    current_df = {'Name': player, 'Position': position, '2021GP': gp2021, '2021FP': fp2021, '2021NP': np2021, '2021TOI': toi2021, '2122GP': gp2122, '2122FP': fp2122, '2122NP': np2122, '2122TOI': toi2122, '2223GP': gp2223, '2223FP': fp2223, '2223NP': np2223, '2223TOI': toi2223}
    
    current_df['2021BS'] = bs2021
    current_df['2122BS'] = bs2122
    current_df['2223BS'] = bs2223
    
    current_df['2021H'] = h2021
    current_df['2122H'] = h2122
    current_df['2223H'] = h2223
    
    current_df['2021S'] = sg2021
    current_df['2122S'] = sg2122
    current_df['2223S'] = sg2223
    
    current_df = pd.DataFrame([current_df])
    
    noPoints_df = pd.concat([noPoints_df, current_df], ignore_index=True)

In [64]:
noPoints_df

,Name,Position,2021GP,2021FP,2021NP,2021TOI,2122GP,2122FP,2122NP,2122TOI,...,2223TOI,2021BS,2122BS,2223BS,2021H,2122H,2223H,2021S,2122S,2223S
0,Yakov Trenin,C,45,42.1,26.1,31218,80,90.2,49.2,70404,...,69978,21.0,33.0,30.0,94.0,191.0,167.0,62.0,136.0,140.0
1,Tomas Hertl,C,50,102.1,34.6,57407,82,162.0,59.5,98093,...,91393,39.0,57.0,57.0,39.0,105.0,91.0,112.0,205.0,183.0
2,Oskar Lindblom,LW,50,44.1,22.1,39545,79,83.5,45.0,65416,...,46314,24.0,48.0,24.0,43.0,83.0,64.0,58.0,127.0,75.0
3,Luke Kunin,C,38,54.5,25.5,31900,82,96.3,60.3,68042,...,28703,20.0,51.0,27.0,84.0,223.0,63.0,71.0,125.0,58.0
4,Matt Nieto,LW,28,28.5,16.5,23516,70,64.3,41.3,60495,...,65730,19.0,47.0,32.0,25.0,96.0,43.0,45.0,82.0,115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1251,Aaron Ness,D,1,0.3,0.3,770,0,0.0,0.0,0,...,0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0
1252,Daniel Walcott,LW,1,0.8,0.8,603,0,0.0,0.0,0,...,0,0.0,0.0,0.0,7.0,0.0,0.0,1.0,0.0,0.0
1253,Cameron Hughes,C,1,1.0,1.0,965,0,0.0,0.0,0,...,0,1.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0
1254,Lean Bergmann,C,1,0.9,0.9,619,0,0.0,0.0,0,...,0,1.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0
1255,Drake Rymsha,C,1,0.0,0.0,796,0,0.0,0.0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
noPoints_df.sort_values('2223NP', ascending=False)

,Name,Position,2021GP,2021FP,2021NP,2021TOI,2122GP,2122FP,2122NP,2122TOI,...,2223TOI,2021BS,2122BS,2223BS,2021H,2122H,2223H,2021S,2122S,2223S
105,Jacob Trouba,D,38,74.6,60.1,49000,81,182.6,129.6,108983,...,104284,84.0,177.0,196.0,111.0,207.0,218.0,70.0,204.0,199.0
50,Alec Martinez,D,53,142.4,96.9,71759,26,50.8,39.8,30483,...,88819,168.0,68.0,244.0,44.0,26.0,48.0,85.0,32.0,76.0
552,Moritz Seider,D,0,0.0,0.0,0,82,182.8,114.3,113362,...,113892,0.0,161.0,190.0,0.0,151.0,207.0,0.0,187.0,140.0
56,Brayden McNabb,D,41,61.7,51.7,47475,69,134.9,113.4,81558,...,97631,76.0,179.0,198.0,98.0,154.0,201.0,39.0,85.0,89.0
181,Andrew Peeke,D,11,14.5,11.5,11321,82,127.8,110.8,105646,...,101985,15.0,169.0,197.0,35.0,191.0,180.0,5.0,72.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,Nick Merkley,RW,16,10.8,4.3,10460,9,7.1,2.6,6702,...,0,3.0,2.0,0.0,12.0,9.0,0.0,16.0,7.0,0.0
1045,Ryan Merkley,D,0,0.0,0.0,0,39,23.8,15.8,35984,...,0,0.0,22.0,0.0,0.0,12.0,0.0,0.0,36.0,0.0
1044,Kyle Rau,C,14,13.3,11.3,8029,5,0.9,0.9,2645,...,0,15.0,0.0,0.0,23.0,6.0,0.0,15.0,3.0,0.0
1043,Juuso Riikola,D,2,1.1,1.1,1371,5,4.0,3.0,4016,...,0,1.0,2.0,0.0,5.0,13.0,0.0,1.0,7.0,0.0
1255,Drake Rymsha,C,1,0.0,0.0,796,0,0.0,0.0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
pd.set_option('display.max_rows', 200)

In [164]:
# min_games.sort_values('NP%', ascending=False)

In [165]:
# min_games = min_games.loc[min_games['FPPG'] >= 1.6].sort_values('NP%', ascending=False)
# min_games.head(200)

In [166]:
# noPoints_df = noPoints_df.loc[noPoints_df['2223GP'].astype(int) >= 10]
# noPoints_df = noPoints_df.loc[noPoints_df['2021GP'].astype(int) >= 10]
# noPoints_df = noPoints_df.loc[noPoints_df['2122GP'].astype(int) >= 10]


noPoints_df['2021GP'] = noPoints_df['2021GP'].astype(int)
noPoints_df['2122GP'] = noPoints_df['2122GP'].astype(int)
noPoints_df['2223GP'] = noPoints_df['2223GP'].astype(int)

noPoints_df['2021TOI'] = round(noPoints_df['2021TOI'].astype(int)/60, 2)
noPoints_df['2122TOI'] = round(noPoints_df['2122TOI'].astype(int)/60, 2)
noPoints_df['2223TOI'] = round(noPoints_df['2223TOI'].astype(int)/60, 2)




noPoints_df['2223NP_60'] = round(noPoints_df['2223NP']/noPoints_df['2223TOI'] * 60, 2)
noPoints_df['2122NP_60'] = round(noPoints_df['2122NP']/noPoints_df['2122TOI'] * 60, 2)
noPoints_df['2021NP_60'] = round(noPoints_df['2021NP']/noPoints_df['2021TOI'] * 60, 2)

noPoints_df['2223NP_GP'] = round(noPoints_df['2223NP']/noPoints_df['2223GP'], 2)
noPoints_df['2122NP_GP'] = round(noPoints_df['2122NP']/noPoints_df['2122GP'], 2)
noPoints_df['2021NP_GP'] = round(noPoints_df['2021NP']/noPoints_df['2021GP'], 2)

noPoints_df['2223FPP60'] = round(noPoints_df['2223FP']/noPoints_df['2223TOI'] * 60, 2)
noPoints_df['2122FPP60'] = round(noPoints_df['2122FP']/noPoints_df['2122TOI'] * 60, 2)
noPoints_df['2021FPP60'] = round(noPoints_df['2021FP']/noPoints_df['2021TOI'] * 60, 2)

noPoints_df['2223FPPG'] = round(noPoints_df['2223FP']/noPoints_df['2223GP'], 2)
noPoints_df['2122FPPG'] = round(noPoints_df['2122FP']/noPoints_df['2122GP'], 2)
noPoints_df['2021FPPG'] = round(noPoints_df['2021FP']/noPoints_df['2021GP'], 2)

noPoints_df['2223NP%'] = round(noPoints_df['2223NP']/noPoints_df['2223FP']*100, 2)
noPoints_df['2122NP%'] = round(noPoints_df['2122NP']/noPoints_df['2122FP']*100, 2)
noPoints_df['2021NP%'] = round(noPoints_df['2021NP']/noPoints_df['2021FP']*100, 2)

In [168]:
noPoints_df['TOT_GAMES'] = noPoints_df['2223GP'] + noPoints_df['2122GP'] + noPoints_df['2021GP']

noPoints_df['TOT_NP_60'] = round((noPoints_df['2223NP'] + noPoints_df['2122NP'] + noPoints_df['2021NP']) / (noPoints_df['2223TOI'] + noPoints_df['2122TOI'] + noPoints_df['2021TOI']) * 60, 2)
noPoints_df['TOT_NP_GP'] = round((noPoints_df['2223NP'] + noPoints_df['2122NP'] + noPoints_df['2021NP']) / (noPoints_df['2223GP'] + noPoints_df['2122GP'] + noPoints_df['2021GP']), 2)
noPoints_df['TOT_FPP60'] = round((noPoints_df['2223FP'] + noPoints_df['2122FP'] + noPoints_df['2021FP']) / (noPoints_df['2223TOI'] + noPoints_df['2122TOI'] + noPoints_df['2021TOI']) * 60, 2)
noPoints_df['TOT_FPPG'] = round((noPoints_df['2223FP'] + noPoints_df['2122FP'] + noPoints_df['2021FP']) / (noPoints_df['2223GP'] + noPoints_df['2122GP'] + noPoints_df['2021GP']), 2)
noPoints_df['TOT_NP%'] = round((noPoints_df['2223NP'] + noPoints_df['2122NP'] + noPoints_df['2021NP']) / (noPoints_df['2223FP'] + noPoints_df['2122FP'] + noPoints_df['2021FP'])*100, 2)

noPoints_df = noPoints_df.loc[noPoints_df['TOT_GAMES'] >= 20]
noPoints_df

,Name,Position,2021GP,2021FP,2021NP,2021TOI,2122GP,2122FP,2122NP,2122TOI,...,2021FPPG,2223NP%,2122NP%,2021NP%,TOT_GAMES,TOT_NP_60,TOT_NP_GP,TOT_FPP60,TOT_FPPG,TOT_NP%
0,Yakov Trenin,C,45,42.1,26.1,520.30,80,90.2,49.2,1173.40,...,0.94,54.60,54.55,62.00,202,2.54,0.60,4.53,1.07,56.02
1,Tomas Hertl,C,50,102.1,34.6,956.78,82,162.0,59.5,1634.88,...,2.04,36.80,36.73,33.89,211,2.19,0.71,6.07,1.97,36.06
2,Oskar Lindblom,LW,50,44.1,22.1,659.08,79,83.5,45.0,1090.27,...,0.88,54.64,53.89,50.11,202,2.21,0.46,4.16,0.87,53.14
3,Luke Kunin,C,38,54.5,25.5,531.67,82,96.3,60.3,1134.03,...,1.43,56.14,62.62,46.79,151,3.12,0.74,5.50,1.30,56.72
4,Matt Nieto,LW,28,28.5,16.5,391.93,70,64.3,41.3,1008.25,...,1.02,46.56,64.23,57.89,179,2.15,0.50,3.87,0.90,55.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,Samuel Morin,LW,20,13.7,11.7,203.83,0,0.0,0.0,0.00,...,0.68,NaN,NaN,85.40,20,3.44,0.58,4.03,0.68,85.40
1208,Gaetan Haas,C,34,25.0,20.0,385.88,0,0.0,0.0,0.00,...,0.74,NaN,NaN,80.00,34,3.11,0.59,3.89,0.74,80.00
1223,Sami Vatanen,D,39,40.7,32.7,663.60,0,0.0,0.0,0.00,...,1.04,NaN,NaN,80.34,39,2.96,0.84,3.68,1.04,80.34
1227,Jayce Hawryluk,C,30,18.6,11.6,289.22,0,0.0,0.0,0.00,...,0.62,NaN,NaN,62.37,30,2.41,0.39,3.86,0.62,62.37
1228,Steven Kampfer,D,20,24.3,16.8,334.12,0,0.0,0.0,0.00,...,1.21,NaN,NaN,69.14,20,3.02,0.84,4.36,1.21,69.14

In [169]:
noPoints_df['LAST2_GAMES'] = noPoints_df['2223GP'] + noPoints_df['2122GP']

noPoints_df['LAST2_NP_60'] = round((noPoints_df['2223NP'] + noPoints_df['2122NP']) / (noPoints_df['2223TOI'] + noPoints_df['2122TOI']) * 60, 2)
noPoints_df['LAST2_NP_GP'] = round((noPoints_df['2223NP'] + noPoints_df['2122NP']) / (noPoints_df['2223GP'] + noPoints_df['2122GP']), 2)
noPoints_df['LAST2_FPP60'] = round((noPoints_df['2223FP'] + noPoints_df['2122FP']) / (noPoints_df['2223TOI'] + noPoints_df['2122TOI']) * 60, 2)
noPoints_df['LAST2_FPPG'] = round((noPoints_df['2223FP'] + noPoints_df['2122FP']) / (noPoints_df['2223GP'] + noPoints_df['2122GP']), 2)
noPoints_df['LAST2_NP%'] = round((noPoints_df['2223NP'] + noPoints_df['2122NP']) / (noPoints_df['2223FP'] + noPoints_df['2122FP'])*100, 2)


noPoints_df

,Name,Position,2021GP,2021FP,2021NP,2021TOI,2122GP,2122FP,2122NP,2122TOI,...,TOT_NP_GP,TOT_FPP60,TOT_FPPG,TOT_NP%,LAST2_GAMES,LAST2_NP_60,LAST2_NP_GP,LAST2_FPP60,LAST2_FPPG,LAST2_NP%
0,Yakov Trenin,C,45,42.1,26.1,520.30,80,90.2,49.2,1173.40,...,0.60,4.53,1.07,56.02,157,2.43,0.60,4.46,1.11,54.57
1,Tomas Hertl,C,50,102.1,34.6,956.78,82,162.0,59.5,1634.88,...,0.71,6.07,1.97,36.06,161,2.19,0.72,5.96,1.95,36.76
2,Oskar Lindblom,LW,50,44.1,22.1,659.08,79,83.5,45.0,1090.27,...,0.46,4.16,0.87,53.14,152,2.28,0.47,4.22,0.86,54.16
3,Luke Kunin,C,38,54.5,25.5,531.67,82,96.3,60.3,1134.03,...,0.74,5.50,1.30,56.72,113,3.20,0.76,5.28,1.26,60.54
4,Matt Nieto,LW,28,28.5,16.5,391.93,70,64.3,41.3,1008.25,...,0.50,3.87,0.90,55.62,151,2.08,0.48,3.78,0.88,55.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,Samuel Morin,LW,20,13.7,11.7,203.83,0,0.0,0.0,0.00,...,0.58,4.03,0.68,85.40,0,NaN,NaN,NaN,NaN,NaN
1208,Gaetan Haas,C,34,25.0,20.0,385.88,0,0.0,0.0,0.00,...,0.59,3.89,0.74,80.00,0,NaN,NaN,NaN,NaN,NaN
1223,Sami Vatanen,D,39,40.7,32.7,663.60,0,0.0,0.0,0.00,...,0.84,3.68,1.04,80.34,0,NaN,NaN,NaN,NaN,NaN
1227,Jayce Hawryluk,C,30,18.6,11.6,289.22,0,0.0,0.0,0.00,...,0.39,3.86,0.62,62.37,0,NaN,NaN,NaN,NaN,NaN
1228,Steven Kampfer,D,20,24.3,16.8,334.12,0,0.0,0.0,0.00,...,0.84,4.36,1.21,69.14,0,NaN,NaN,NaN,NaN,NaN

In [172]:
tot_percent = noPoints_df.sort_values('TOT_NP%', ascending=False)
tot_percent

,Name,Position,2021GP,2021FP,2021NP,2021TOI,2122GP,2122FP,2122NP,2122TOI,...,TOT_NP_GP,TOT_FPP60,TOT_FPPG,TOT_NP%,LAST2_GAMES,LAST2_NP_60,LAST2_NP_GP,LAST2_FPP60,LAST2_FPPG,LAST2_NP%
1123,Austin Poganski,RW,5,1.8,1.8,37.82,16,5.7,5.7,149.15,...,0.36,2.41,0.36,100.00,16,2.29,0.36,2.29,0.36,100.00
1032,Mason Geertsen,D,0,0.0,0.0,0.00,25,10.5,10.5,173.92,...,0.42,3.62,0.42,100.00,25,3.62,0.42,3.62,0.42,100.00
626,Markus Niemelainen,D,0,0.0,0.0,0.00,20,19.9,18.9,263.88,...,0.80,4.32,0.83,97.19,43,4.20,0.80,4.32,0.83,97.19
734,William Lockwood,RW,2,1.4,1.4,28.38,13,10.7,10.7,147.42,...,0.84,4.75,0.88,95.92,26,4.72,0.85,4.93,0.89,95.67
792,Kevin Gravel,D,0,0.0,0.0,0.00,0,0.0,0.0,0.00,...,0.97,4.26,1.01,95.71,23,4.08,0.97,4.26,1.01,95.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,Nikita Kucherov,RW,0,0.0,0.0,0.00,47,131.3,22.3,939.20,...,0.54,8.03,2.69,20.06,129,1.61,0.54,8.03,2.69,20.06
313,Leon Draisaitl,C,56,158.0,26.5,1242.55,80,231.6,45.6,1787.93,...,0.57,8.21,3.02,18.90,160,1.65,0.61,8.42,3.09,19.58
180,Johnny Gaudreau,LW,56,94.0,16.5,1031.17,82,199.2,31.7,1523.13,...,0.37,6.31,1.98,18.46,162,1.23,0.39,6.59,2.08,18.71
151,Andrei Kuzmenko,LW,0,0.0,0.0,0.00,0,0.0,0.0,0.00,...,0.30,6.71,1.82,16.72,81,1.12,0.30,6.71,1.82,16.72
107,Artemi Panarin,LW,42,99.4,15.4,825.00,75,163.4,26.9,1441.67,...,0.36,6.66,2.16,16.45,157,1.09,0.35,6.51,2.11,16.74

In [173]:
noPoints_df.to_csv('NoPoints.csv')